---
import Icon from '../components/Icon'
const icons = [
 'entypo-social:github-with-circle',
 'entypo-social:linkedin-with-circle',
 'entypo-social:twitter-with-circle',
]
---

<section id='Contact' class='grid grid-cols-1 gap-10'>
 <h2 class='text-4xl text-gr text-center my-5 lg:mb-12'>3.Contact</h2>
 <div class='flex justify-center gap-10 lg:gap-24 flex-wrap'>
  <img src='https://i.giphy.com/media/fPSxQDOJ7bGso/giphy.gif' />
  <div class='text-center'>
   <div>
    <p class='text-gr'>Send me an e-mail to</p>
    <a href='mailto:webdevpablo@gmail.com' class='text-3xl'
     >webdevpablo@gmail.com</a
    >
    <p class='mt-10 text-gr'>or get in touch via social media</p>
    <div class='flex justify-center mx-auto mt-4'>
     {
      icons.map((icon) => (
       <a href='#' class='mx-2'>
        <Icon client:idle icon={icon} height={40} className='' />
       </a>
      ))
     }
    </div>
   </div>
  </div>
 </div>
</section>
