---
---

<section>
 <h2 class='py-5 border-t border-b text-center text-gr text-4xl my-10'>
  Please check my blog
 </h2>
</section>
<footer class='text-center pb-5'>
 <p>Design and develop by ©Pawel Rugala</p>
</footer>
