---
---

<section>
 <h2 class='py-10 border-t border-b text-center text-gr text-4xl'>
  Please check my blog
 </h2>
</section>
<footer class='text-center pb-10'>
 <p>Design and develop by ©Pawel Rugala</p>
</footer>
